[submodule "mcp-core-sdk"]
	path = mcp-core-sdk
	url = https://github.com/escrivivir-co/alephscript-mcp-core-sdk.git
	branch = integration/beta/scriptorium
[submodule "mcp-mesh-sdk"]
	path = mcp-mesh-sdk
	url = https://github.com/escrivivir-co/alephscript-mcp-mesh-sdk.git
	branch = integration/beta/scriptorium
[submodule "mcp-model-sdk"]
	path = mcp-model-sdk
	url = https://github.com/escrivivir-co/alephscript-mcp-model-sdk.git
	branch = integration/beta/scriptorium
[submodule "mcp-inspector-sdk"]
	path = mcp-inspector-sdk
	url = https://github.com/escrivivir-co/mcp-inspector-sdk
	branch = integration/scriptorium/beta
[submodule "mcp-channels-sdk"]
	path = mcp-channels-sdk
	url = https://github.com/escrivivir-co/mcp-channels-sdk.git
	branch = integration/beta/scriptorium
